{
{% if docker_tls %}
  "tls": true,
  "tlscert": "/etc/docker/EasyRSA-3.0.1/pki/issued/{{ ansible_nodename }}.crt",
  "tlskey": "/etc/docker/EasyRSA-3.0.1/pki/private/{{ ansible_nodename }}.key",
  "hosts": ["fd://", "tcp://0.0.0.0:2376"]
{% endif %}
}
