{
{% if docker_tls %}
  "tlsverify": true,
  "tlscacert": "/etc/docker/EasyRSA-3.0.1/pki/ca.crt",
  "tlscert": "/etc/docker/EasyRSA-3.0.1/pki/issued/{{ inventory_hostname }}.crt",
  "tlskey": "/etc/docker/EasyRSA-3.0.1/pki/private/{{ inventory_hostname }}.key",
  "hosts": ["fd://", "tcp://0.0.0.0:2376"]
{% endif %}
}
